@page "/"
@using Assignment_1.Data
@using Assignment_1.Models
@inject IServerData ServerData

@if (families == null)
{
    <p>List is not exist </p>
}else if (!families.Any())
      {
          <p>Loading..................</p>
      }
else
{
    @foreach (Family family in families)

    {
        <FamilyDetails Family = "@family"/>
    }
}

@code
{
    private IList<Family> families;
    protected override async Task OnInitializedAsync()
    {
        families = ServerData.getAllFamily();
    }
}
